@import './modules/colors';
@import './modules/fonts';

.emails-input {
  background: $white;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
  display: block;
  height: 300px;
  margin: 0 auto;
  width: 540px;

  .content {
    background: $background-content;
    display: inline-block;
    padding: 32px 50px 24px;
    text-align: left;
    width: 440px;
  }

  .action {
    background: $white;
    border-radius: 8px;
    padding: 24px 0 32px 50px;
    padding-left: 50px;
  }

  button {
      background: $background-button;
      border: 0;
      border-radius: 6px;
      color: $white;
      cursor: pointer;
      display: block;
      float: left;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 100;
      letter-spacing: .05em;
      line-height: 24px;
      margin-right: 16px;
      overflow: hidden;
      padding: 8px 16px;
    }

    label {
      color: $color-label;
      float: left;
      font-family: $font-family;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 27px;
    
      span {
        font-weight: 600;
      }
    }

    input {
      background-color: transparent;
      background-image: none;
      border: 0;
      box-shadow: none;
      float: left;
      line-height: 24px;
      margin-right: 8px;
      margin-top: 4px;
      outline: none;
      &::-ms-clear {
        display: none;
    }

      &::placeholder {
        color: $color-placeholder;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 100;
      }
    }

  .multiple-emails {
      background: $white;
      border: 1px solid #c3c2cf;
      border-radius: 4px;
      box-sizing: border-box;
      display: inline-block;
      height: 96px;
      margin-top: 24px;
      overflow-y: scroll;
      padding: 8px 7px 7px 8px;
      width: 100%;
    }

  .pill {
      background: $background-pill;
      border-radius: 100px;
      color: $color-pill;
      float: left;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 100;
      line-height: 24px;
      margin-right: 8px;
      margin-top: 4px;
      padding: 10px;
      padding: 0 8px 0 10px;

    &.invalid {
      background: $white;
      .close{
        border-bottom: 1px dashed #d92929;
      }
    }
      
    .close {
        cursor: pointer;

        &:after {
          content: '×';
          padding-left: 8px;
        }
    }
  }

  .counter {
    float: left;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
  }

}

input::-ms-clear { display: none; }